<div class="d-flex justify-content-between px-5g py-4 headerResponsive">
    <div class="d-flex align-items-center gap-5 menuResponsive">
        <mat-icon fontIcon="menu" class="menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"></mat-icon>
        <img [src]="ImagePath.logoDedicados" class="imgLogo"/>
    </div>
    <div class="d-flex gap-5 clienteResponsive">
        <div class="flex-column">
            <div>
            <p class="text-g"><b>{{user.nombreCliente}}</b> | RIF: {{user.tipoIdentificacion}}-{{user.documento}}</p>
            </div>
            <p class="text-c">Codigo: {{user.contrato}}</p>
        </div>
        <mat-icon fontIcon="logout" class="icon iconResponse" (click)="logout_1()"></mat-icon>
    </div>
</div>